<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751488550280-5anukhbm8lag7p2o4g8l4pfu8qo6tgnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751488550280-5anukhbm8lag7p2o4g8l4pfu8qo6tgnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAbix8Mdh978AvrX1Q4uCThZ-FBuGCi3EE</string>
	<key>GCM_SENDER_ID</key>
	<string>751488550280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mac.LetChat</string>
	<key>PROJECT_ID</key>
	<string>letchat-ad313</string>
	<key>STORAGE_BUCKET</key>
	<string>letchat-ad313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751488550280:ios:22e9f293bea3e67e7d663d</string>
</dict>
</plist>